<template>
<q-page>
  <section class="q-pt-md container">
    <q-breadcrumbs class="text-bold text-uppercase">
      <q-breadcrumbs-el label="Назад" icon="las la-angle-left" @click="$router.go(-1)" class="cursor-pointer"/>
      <q-breadcrumbs-el label="Наш блог"/>
    </q-breadcrumbs>
  </section>
  <section class="container q-pt-lg">
    <posts-grid :posts="posts"/>
  </section>
</q-page>
</template>

<script>
import PostsGrid from 'components/posts/posts-grid'
import { mapState } from 'vuex'
export default {
  name: 'posts-list',
  components: { PostsGrid },
  computed: {
    ...mapState('blog', ['posts']),
    ...mapState('main', ['mainInfo'])
  },
  meta () {
    return {
      title: 'Наш блог | ' + this.mainInfo.site_title,
      meta: {
        description: {
          name: 'description',
          content: this.mainInfo.description
        },
        ogType: {
          property: 'og:type',
          content: 'website'
        },
        ogTitle: {
          property: 'og:title',
          content: 'Наш блог | ' + this.mainInfo.site_title
        },
        ogUrl: {
          property: 'og:url',
          content: 'https://fortunepizza.kz/#/blog/posts/'
        },
        ogDescription: {
          property: 'og:description',
          content: this.mainInfo.description
        }
      }
    }
  }
}
</script>

<style scoped>

</style>
