<template>
<q-page class="">
  <section class="q-pt-md container">
    <q-breadcrumbs class="text-bold text-uppercase">
      <q-breadcrumbs-el label="Назад" icon="las la-angle-left" @click="$router.go(-1)" class="cursor-pointer"/>
      <q-breadcrumbs-el :label="post.title"/>
    </q-breadcrumbs>
  </section>

  <article class="q-pt-md container">
    <q-carousel
      v-model="slide"
      swipeable animated infinite arrows keep-alive
      :autoplay="4000"
      class="post-detail-image rounded-xl"
    >
      <q-carousel-slide
        v-for="(slide, index) in post.images"
        :key="index"
        :name="index"
        :img-src="slide.image"
      />
    </q-carousel>

    <h1 class="text-h5 q-mt-lg text-center">{{ post.title }}</h1>
    <div class="q-mt-lg" v-html="post.content"></div>
  </article>

  <section class="section">
    <labels-grid />
  </section>

  <section class="section container">
    <categories-grid :categories="categories"/>
  </section>

</q-page>
</template>

<script>
import { mapState } from 'vuex'
import LabelsGrid from 'components/shop/labels/labels-grid'
import CategoriesGrid from 'components/shop/category/categories-grid'

export default {
  name: 'post-detail',
  components: { CategoriesGrid, LabelsGrid },
  computed: {
    ...mapState('blog', ['post']),
    ...mapState('shop', ['categories']),
    ...mapState('main', ['mainInfo'])
  },
  data () {
    return {
      slide: 0
    }
  },
  preFetch ({ store, currentRoute }) {
    return store.dispatch('blog/loadPost', currentRoute.params.slug)
  },
  meta () {
    return {
      title: this.post.title + ' | ' + this.mainInfo.site_title,
      meta: {
        description: {
          name: 'description',
          content: this.post.description || this.mainInfo.description
        },
        ogType: {
          property: 'og:type',
          content: 'website'
        },
        ogTitle: {
          property: 'og:title',
          content: this.post.title + ' | ' + this.mainInfo.site_title
        },
        ogUrl: {
          property: 'og:url',
          content: 'https://fortunepizza.kz/#/blog/posts/' + this.post.slug
        },
        ogDescription: {
          property: 'og:description',
          content: this.post.description || this.mainInfo.description
        },
        ogImage: {
          property: 'og:image',
          content: this.post.miniature
        }
      }
    }
  }
}
</script>

<style lang="sass">
.post-detail-image
  height: 500px

@media screen and (max-width: 700px)
  .post-detail-image
    height: 280px
</style>
