<template>
  <div class="flex">
    <phone-button classes="hide-on-mobile"/>
    <q-btn
      :label="mainInfo.whatsapp"
      rounded unelevated
      color="positive"
      class="q-mr-md text-bold hide-on-mobile"
      icon="lab la-whatsapp"
      type="a"
      :href="`https://wa.me/${mainInfo.whatsapp}`"
    />

    <quick-order-top-right class="hide-on-mobile q-mr-lg"/>
    <wish-list-header-icon />
    <cart-header-icon/>

  </div>
</template>

<script>
import CartHeaderIcon from 'components/cart/cart-header-icon'
import WishListHeaderIcon from 'components/wishlist/wish-list-header-icon'
import PhoneButton from 'components/header/phone-button'
import { mapState } from 'vuex'
import QuickOrderTopRight from 'components/utils/quick-order-top-right'

export default {
  name: 'header-right-panel-buttions',
  components: { QuickOrderTopRight, PhoneButton, WishListHeaderIcon, CartHeaderIcon },
  computed: {
    ...mapState('main', ['mainInfo'])
  }
}
</script>
