<template>
  <nav class="header-navigation bg-primary">
    <ul class="flex scroll-x no-wrap items-center" style="min-height: 75px">
      <q-item
        :to="`/${category.slug}`"
        tag="li"
        clickable
        v-for="category in categories"
        :key="category.id"
        class="flex menu-item no-wrap items-center q-ml-md rounded-md bg-warning"
      >
        <q-img v-if="category" :src="category.image" height="50px" width="50px" contain>
          <template v-slot:loading>
            <q-skeleton width="50px" height="50px"/>
          </template>
        </q-img>
        <div class="text-dark f-w-700 q-ml-xs">{{ category.title }}</div>
      </q-item>
    </ul>
  </nav>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'header-navigation',
  computed: {
    ...mapState('shop', ['categories'])
  }
}
</script>

<style lang="sass">
.header-navigation
  ul
    text-decoration: none
    list-style-type: none

  .scroll-x
    overflow-x: scroll

  .menu-item
    width: fit-content
    height: 55px
    padding: 5px 25px 5px 5px
    //border: 1px solid #d8d8d8
    overflow: visible !important
    background: #ffffff
</style>
