<template>
<nav>
  <q-list padding class="text-grey-9 text-dark">
    <q-item
      clickable
      v-ripple
      exact-active-class="text-dark"
      to="/"
    >
      <q-item-section avatar>
        <q-icon name="las la-home" />
      </q-item-section>

      <q-item-section class="text-subtitle1 text-bold">Главная</q-item-section>
    </q-item>

    <q-item
      clickable
      v-ripple
      :to="{ name: 'about' }"
      exact-active-class="text-dark"
    >
      <q-item-section avatar>
        <q-icon name="las la-store-alt" />
      </q-item-section>

      <q-item-section class="text-subtitle1 text-bold">О магазине</q-item-section>
    </q-item>

    <q-item
      clickable
      v-ripple
      :to="{ name: 'blog' }"
      exact-active-class="text-dark"
    >
      <q-item-section avatar>
        <q-icon name="las la-newspaper" />
      </q-item-section>

      <q-item-section class="text-subtitle1 text-bold">Наш блог</q-item-section>
    </q-item>

    <q-item
      clickable
      v-ripple
      :to="{ name: 'contacts' }"
      exact-active-class="text-dark"
    >
      <q-item-section avatar>
        <q-icon name="las la-map-marked" />
      </q-item-section>

      <q-item-section class="text-subtitle1 text-bold">Контакты</q-item-section>
    </q-item>

    <q-expansion-item
      label="Информация"
      expand-icon="las la-angle-right"
      expanded-icon="las la-angle-up"
      class="text-bold text-subtitle1"
    >
      <q-item
        v-for="page in infoPages"
        :key="page.id"
        clickable
        v-ripple
        :to="{ name: 'info-page', params: { slug: page.slug } }"
        exact-active-class="text-dark"
      >
        <q-item-section avatar>
          <q-icon name="las la-angle-right" />
        </q-item-section>

        <q-item-section class="text-weight-regular">{{ page.title }}</q-item-section>
      </q-item>
    </q-expansion-item>

  </q-list>

  <categories-grid :categories="categories" :lg="6" :sm="6" gutter="sm" class="q-pa-sm"/>

  <div class="q-py-md q-px-sm">
    <phone-button classes="full-width text-bold q-py-xs q-mt-md" color="positive" text-color="white"/>
    <quick-order classes="full-width text-bold q-py-xs q-mt-md"/>
  </div>
</nav>
</template>

<script>
import CategoriesGrid from 'components/shop/category/categories-grid'
import { mapState } from 'vuex'
import PhoneButton from 'components/header/phone-button'
import QuickOrder from 'components/utils/quick-order'
export default {
  name: 'left-drawer-content',
  components: { QuickOrder, PhoneButton, CategoriesGrid },
  computed: {
    ...mapState('shop', ['categories']),
    ...mapState('main', ['infoPages'])
  }
}
</script>
