<template>
  <div>
    <q-btn
      v-for="phone in phones"
      :key="phone"
      :label="phone"
      rounded unelevated
      :color="color"
      :text-color="textColor"
      class="q-mr-md text-bold"
      icon="las la-phone-volume"
      type="a"
      :href="`tel:${phone}`"
      :class="classes"
    />
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'phone-button',
  computed: {
    ...mapState('main', ['mainInfo']),
    phones () {
      return this.mainInfo?.phone?.split(',')
    }
  },
  props: {
    color: {
      type: String,
      default: 'white'
    },
    textColor: {
      type: String,
      default: 'primary'
    },
    classes: String
  }
}
</script>
