<template>
<footer class="bg-grey-8 q-py-xl section text-white">
  <div class="container">
    <div class="text-center">
      <p class="text-h5 text-bold">{{ mainInfo.site_title }}</p>
      <p class="q-mt-sm">{{ mainInfo.description }}</p>
    </div>
    <p class="text-h6 text-bold q-mt-xl">Наши магазины:</p>
    <div class="row q-col-gutter-md q-mt-sm">
      <div
        v-for="store in aStores"
        :key="store.id"
        class="col-12 col-md-6 col-lg-3"
      >
        <q-item dark class="bg-grey-9 rounded-xl" c>
          <q-item-section>
            <q-item-label class="text-subtitle1 text-bold" style="min-height: 60px">
              {{ store.title }}
            </q-item-label>
            <q-item-label caption>
              {{ store.address }}
            </q-item-label>
            <q-item-label caption>
              <q-btn
                :label="store.phone"
                icon="las la-phone"
                flat
                color="white"
                type="a"
                :href="`tel:${store.phone}`"
              />
            </q-item-label>
          </q-item-section>
        </q-item>
      </div>
    </div>

    <div class="row q-mt-xl q-col-gutter-lg">
      <div class="col-md-6 col-12">
        <p class="text-h6 text-bold ">Информация:</p>
        <q-list dense padding dark>
          <q-item clickable to="/" dark class="text-white text-subtitle1 rounded-md">
            Главная
          </q-item>
          <q-item clickable :to="{ name: 'about' }" dark class="text-white text-subtitle1 rounded-md">
            О магазине
          </q-item>
          <q-item clickable :to="{ name: 'blog' }" dark class="text-white text-subtitle1 rounded-md">
            Наш блог
          </q-item>
          <q-item clickable :to="{ name: 'contacts' }" dark class="text-white text-subtitle1 rounded-md">
            Контакты
          </q-item>

          <q-item
            v-for="page in infoPages"
            :key="page.id"
            clickable dark
            :to="`/info/${page.slug}`"
            class="text-white text-subtitle1 rounded-md">
            {{ page.title }}
          </q-item>
        </q-list>
      </div>

      <div class="col-md-6 col-12">
        <p class="text-h6 text-bold ">Магазин:</p>
        <q-list dense padding dark>
          <q-item
            v-for="category in categories"
            :key="category.id"
            clickable
            :to="`/${category.slug}`"
            dark
            class="text-white text-subtitle1 rounded-md"
          >
            {{ category.title }}
          </q-item>
        </q-list>
      </div>
    </div>

    <q-separator class="q-mt-xl" dark/>
    <div class="q-mt-sm text-right">
      <small class="q-pt-md">{{ mainInfo.site_title }} {{ fullYear }}. Все права защищены.</small>
    </div>
  </div>
</footer>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'shop-footer',
  computed: {
    ...mapState('main', ['aStores', 'mainInfo', 'infoPages']),
    ...mapState('shop', ['categories']),
    fullYear () {
      const date = new Date()
      return date.getFullYear()
    }
  }
}
</script>
