<template>
<q-btn
  id="oneClickBuyButton"
  label="Купить в один клик"
  class="full-width q-py-sm rounded-md"
  unelevated
  color="primary"
  @click="addAndGoToCart"
  :loading="loading"
/>
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  name: 'product-quick-buy-button',
  computed: {
    ...mapState('shop', ['product'])
  },
  data () {
    return {
      loading: false
    }
  },
  methods: {
    ...mapActions('cart', ['addToCard']),
    addAndGoToCart () {
      this.loading = true
      this.addToCard(this.product)
      setTimeout(() => {
        this.$router.push({ name: 'cart' })
        this.loading = false
      }, 3500)
    }
  }
}
</script>
