<template>
<q-btn
  id="addToCartButton"
  label="Добавить в корзину"
  class="full-width q-py-sm rounded-md"
  unelevated outline
  color="primary"
  @click="addToCard(product)"
/>
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  name: 'product-add-to-cart-button',
  computed: {
    ...mapState('shop', ['product'])
  },
  methods: {
    ...mapActions('cart', ['addToCard'])
  }
}
</script>
