<template>
  <div class="row q-col-gutter-md">
    <div class="col-6">
      <product-quick-buy-button/>
    </div>
    <div class="col-6">
      <product-add-to-cart-button/>
    </div>
  </div>
</template>

<script>
import ProductAddToCartButton
  from 'components/shop/product/product-detail/product-detail-actions/product-add-to-cart-button'
import ProductQuickBuyButton
  from 'components/shop/product/product-detail/product-detail-actions/product-quick-buy-button'

export default {
  name: 'product-actions',
  components: {
    ProductQuickBuyButton,
    ProductAddToCartButton
  }
}
</script>
