<template>
  <div class="posts-grid">
    <div class="row q-col-gutter-md">
      <div
        v-for="post in posts"
        :key="post.id"
        class="col-12 col-md-6"
      >
        <q-card class="shadow-0 rounded-xl">
          <router-link :to="{ name: 'blog-detail', params: { slug: post.slug } }">
            <q-img
              :src="post.miniature"
              class="post-card-image"
            />
            <q-card-section>
              <h3 class="text-subtitle1 ellipsis text-dark">{{ post.title }}</h3>
              <q-btn
                label="Читать далее"
                outline no-caps
                class="rounded-xl q-mt-sm q-px-sm f-w-900"
                color="positive"
              />
            </q-card-section>
          </router-link>
        </q-card>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'posts-grid',
  props: {
    posts: {
      type: Array,
      default: () => []
    }
  }
}
</script>

<style lang="sass">
.post-card-image
  height: 350px
</style>
