<template>
<div>
  <h1 class="text-h5 text-bold">
    {{ product.title }}
  </h1>
  <p class="q-mt-sm text-subtitle1">{{ product.description }}</p>
  <p v-if="product.ingredients.length" class="text-bold q-mt-lg text-subtitle1">Ингредиенты:</p>
  <product-detail-ingredients v-if="product.ingredients.length" :product="product" class="q-mt-sm"/>
  <product-detail-variations />
</div>
</template>

<script>
import ProductDetailIngredients from 'components/shop/product/product-detail/product-detail-ingredients'
import ProductDetailVariations from 'components/shop/product/product-detail/product-detail-variations'
export default {
  name: 'product-detail-info',
  components: { ProductDetailVariations, ProductDetailIngredients },
  props: {
    product: Object
  }
}
</script>
