<template>
  <q-carousel
    animated
    v-model="slide"
    infinite
    :autoplay="4000"
    swipeable
    thumbnails
    class="product-images-slider bg-transparent"
  >
    <q-carousel-slide
      v-for="(image, index) in images"
      :key="index"
      :name="index"
      :img-src="image.image"
      class="rounded-xl"
    />
  </q-carousel>
</template>

<script>
export default {
  name: 'product-detail-images-slider',
  props: {
    images: Array
  },
  data () {
    return {
      slide: 0
    }
  }
}
</script>

<style lang="sass">
.product-images-slider
  height: 400px

@media screen and (max-width: 1400px)
  .product-images-slider
    height: 400px

@media screen and (max-width: 800px)
  .product-images-slider
    height: 500px

@media screen and (max-width: 680px)
  .product-images-slider
    height: 300px
</style>
