<template>
  <div>
    <div
      v-if="variationType"
      class="bg-positive text-white q-px-md q-mt-lg q-pt-xs q-pb-md rounded-xl">
      <p class="text-bold q-mt-lg text-subtitle1">{{ variationType }}:</p>
      <q-option-group
        :options="options"
        type="radio"
        v-model="variation"
        size="sm" inline
        @input="setVariation"
        color="white"
        keep-color
      />
    </div>
  </div>

</template>

<script>
import { mapMutations, mapState } from 'vuex'

export default {
  name: 'product-detail-variations',
  computed: {
    ...mapState('shop', ['product']),
    variationType () {
      return this.product.variations[0]?.type || ''
    },
    options () {
      const options = []
      this.product.variations.forEach((item, index) => {
        const option = {}
        option.label = item.value
        option.value = index
        options.push(option)
      })
      return options
    }
  },
  data () {
    return {
      variation: 0
    }
  },
  methods: {
    ...mapMutations('shop', ['mutationProductVariation']),
    setVariation () {
      this.mutationProductVariation(this.product.variations[this.variation])
    }
  },
  watch: {
    '$route' () {
      this.variation = 0
    }
  }
}
</script>
