<template>
  <div class="container">
    <q-breadcrumbs class="text-bold text-uppercase q-pl-md">
      <q-breadcrumbs-el label="Назад" icon="las la-angle-left" @click="$router.go(-1)" class="cursor-pointer"/>
      <q-breadcrumbs-el :label="product.title"/>
    </q-breadcrumbs>
    <q-card class="shadow-0 bg-transparent q-mt-md">
      <q-toolbar class="text-primary fixed-top big-z-index shadow-3" style="height: 50px">
        <q-btn icon="las la-arrow-left" flat v-close-popup dense class="rounded-md" @click="backRoute"/>
        <q-toolbar-title class="f-w-700 text-dark">{{ product.title }}</q-toolbar-title>
        <cart-header-icon class="q-mr-sm"/>
        <wish-list-header-icon class="q-mr-md"/>
        <q-btn icon="close" v-close-popup flat dense class="rounded-md" @click="backRoute"/>
      </q-toolbar>
      <q-card-section class="">
        <div class="row q-col-gutter-lg">
          <div class="col-md-6 col-12">
            <product-detail-images-slider :images="product.images"/>
          </div>
          <div class="col-md-6 col-12">
            <product-detail-info :product="product"/>
          </div>

          <div class="col-12">
            <product-detail-additions v-if="product.additions.length" :product="product" class="q-mt-lg"/>
          </div>

          <div class="col-12">
            <p class="q-mt-lg f-w-900 text-h5 text-grey-7">Цена: <span
              class="text-positive">{{ totalPrice|priceKzFilter }}</span></p>
            <product-actions class="q-mt-md"/>
          </div>
        </div>
      </q-card-section>
      <!--          Процесс приготовления-->
      <q-card-section v-if="product.cooking" class="q-mt-lg">
        <h2 class="text-h6">Процесс приготовления</h2>
        <div class="q-mt-md" v-html="product.cooking"></div>
      </q-card-section>
    </q-card>

    <section v-if="products.length" class="section">
      <div class="container">
        <section-title title="Смотрите также"/>
        <products-grid class="q-mt-lg" :products="products"/>
      </div>
    </section>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'
import ProductDetailImagesSlider from 'components/shop/product/product-detail/product-detail-images-slider'
import CartHeaderIcon from 'components/cart/cart-header-icon'
import WishListHeaderIcon from 'components/wishlist/wish-list-header-icon'
import ProductDetailInfo from 'components/shop/product/product-detail/product-detail-info'
import ProductDetailAdditions from 'components/shop/product/product-detail/product-additions/product-detail-additions'
import priceKzFilter from 'src/filters/price-filter'
import ProductActions from 'components/shop/product/product-detail/product-detail-actions/product-actions'
import ProductsGrid from 'components/shop/product/products-grid'
import SectionTitle from 'components/utils/section-title'

export default {
  name: 'product-detail',
  components: {
    SectionTitle,
    ProductsGrid,
    ProductActions,
    ProductDetailAdditions,
    ProductDetailInfo,
    WishListHeaderIcon,
    CartHeaderIcon,
    ProductDetailImagesSlider
  },
  computed: {
    ...mapState('shop', ['showProductDetail', 'product', 'products']),
    totalPrice () {
      return this.product.total_price
    }
  },
  filters: {
    priceKzFilter
  },
  methods: {
    ...mapMutations('shop', ['mutationsCleanProductAdditions', 'mutationsCleanProductVariations']),
    backRoute () {
      this.$router.go(-1)
    },
    getProductPrice () {
      return this.product.price + this.product.additionsTotalPrice
    }
  },
  watch: {
    '$route' () {
      this.mutationsCleanProductAdditions()
    }
  },
  created () {
    this.$root.$on('changeProduct', this.getProductPrice)
  }
}
</script>
