<template>
  <div class="flex">
    <div
      v-for="ingredient in product.ingredients"
      :key="ingredient.id"
      class="text-center q-mx-sm"
      style="max-width: 70px"
    >
      <q-img
        :src="ingredient.miniature"
        class="rounded-md"
        contain
        height="70px"
        width="70px"
      >
        <template v-slot:loading>
          <q-skeleton class="fit"/>
        </template>
      </q-img>
      <div class="text-small text-lowercase break-word" style="height: 30px">{{ ingredient.title }}</div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'product-detail-ingredients',
  props: {
    product: Object
  }
}
</script>

<style lang="sass">

</style>
