.image-gradient
  position: relative

  &:before
    content: ""
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    z-index: 20
    background-image: linear-gradient(  -180deg,transparent 50%,#110717)
