.q-img__content > div
  background: transparent !important

.q-carousel__slide, .q-carousel .q-carousel--padding
  padding: 0 !important

.q-carousel__prev-arrow--horizontal, .q-carousel__next-arrow--horizontal
  z-index: 50
