*
  padding: 0
  margin: 0
  box-sizing: border-box

body
  font-family: 'Nunito', sans-serif
  line-height: 1.2 !important
  background: $grey-2
  max-width: 100%
  overflow-x: hidden

@import "colors"
@import "quasar-defaults"
@import "fonts"

button
  font-weight: 700 !important

.container
  width: 1024px
  max-width: 96%
  margin: auto

.section
  margin-top: 70px

.rounded-xl
  border-radius: 15px
  overflow: hidden !important

.rounded-md
  border-radius: 8px

.transition-1
  transition: 1s all

.hide-on-desktop
  display: none

.flex-grow-1
  flex-grow: 1

.big-z-index
  z-index: 50


::-webkit-scrollbar
  width: 3px /* ширина для вертикального скролла */
  height: 0 /* высота для горизонтального скролла */
  background-color: #fff

::-webkit-scrollbar-thumb
  background-color: $grey-4


@media screen and (max-width: 992px)
  .hide-on-desktop
    display: block

  .hide-on-mobile
    display: none

  .section
    margin-top: 50px
