<template>
  <q-card
    class="shadow-0 rounded-xl cart-product-card relative-position q-mb-md"
  >
    <q-btn
      class="absolute-bottom-right rounded-md q-ma-xs big-z-index"
      icon="las la-trash"
      dense flat
      color="grey-7"
      @click="deleteProduct()"
    />
    <q-card-section>
      <div class="row items-center full-width justify-center">
        <div class="col-3">
          <q-avatar size="70px">
            <q-img
              width="70px"
              height="70px"
              :src="product.miniature"
              class="rounded-md"
            >
              <template v-slot:loading>
                <q-skeleton class="fit"/>
              </template>
            </q-img>
          </q-avatar>
          <div class="qty-buttons flex justify-between items-center" style="width: 70px">
            <q-btn icon="las la-minus-circle" round flat dense padding="0" color="grey-7" @click="decrementProductQuantity(product)"/>
            <p class="text-bold">{{ quantity }}</p>
            <q-btn icon="las la-plus-circle" round flat dense padding="0" color="grey-7" @click="incrementProductQuantity(product)"/>
          </div>
        </div>
        <div class="col-9">
          <!--        Title-->
          <p class="text-bold ellipsis-2-lines">
            {{ product.title }}
            <span v-if="product.selectedVariation && product.selectedVariation.value">({{ product.selectedVariation.value }})</span>
          </p>
          <!--        Price-->
          <p class="text-h6 text-positive f-w-900">
            {{ product.total_price|priceKzFilter }}
          </p>
          <div class="flex items-center">
            <div
              v-for="item in product.selectedAdditions"
              :key="item.id"
            >
              <q-img
                :src="item.image"
                width="35px"
                height="35px"
                contain
                class="q-mr-md"
              >
                <q-tooltip anchor="top middle">{{ item.title }} за {{ item.price|priceKzFilter }}</q-tooltip>
                <template v-slot:loading>
                  <q-skeleton class="fit"/>
                </template>
              </q-img>
            </div>
          </div>
        </div>
      </div>
    </q-card-section>
  </q-card>
</template>

<script>
import priceKzFilter from 'src/filters/price-filter'
import { mapActions } from 'vuex'

export default {
  name: 'cart-product-card',
  props: {
    product: Object
  },
  filters: {
    priceKzFilter
  },
  data () {
    return {
      quantity: 1
    }
  },
  methods: {
    ...mapActions('cart', ['deleteProductFromCart']),
    deleteProduct () {
      this.deleteProductFromCart(this.product)
      this.$emit('updateCart')
    },
    getQuantity () {
      const items = JSON.parse(localStorage.getItem('cart'))
      items.forEach(item => {
        if (item.cartId === this.product.cartId) {
          this.quantity = item.quantity
        }
      })
    },
    incrementProductQuantity (product) {
      this.$emit('incrementProductQuantity', product)
      this.getQuantity()
    },
    decrementProductQuantity (product) {
      if (this.quantity > 1) {
        this.$emit('decrementProductQuantity', product)
        this.getQuantity()
      }
    }
  },
  mounted () {
    this.getQuantity()
  }
}
</script>

<style lang="sass">
</style>
