<template>
  <div class="cart-product-list">
    <div v-if="items.length">
      <div class="row">
        <div
          v-for="(item, index) in products"
          :key="index"
          class="col-12"
        >
          <cart-product-card
            @incrementProductQuantity="incrementProductQuantity"
            @decrementProductQuantity="decrementProductQuantity"
            @updateCart="getSum"
            :product="item"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapMutations, mapState } from 'vuex'
import CartProductCard from 'components/cart/cart-product-card'

export default {
  name: 'cart-products-list',
  components: { CartProductCard },
  computed: {
    ...mapState('cart', ['items', 'len'])
  },
  data () {
    return {
      sum: 0,
      products: []
    }
  },
  methods: {
    ...mapMutations('cart', ['mutationCartSum']),
    getProducts () {
      this.products = JSON.parse(localStorage.getItem('cart'))
    },
    getSum () {
      const items = JSON.parse(localStorage.getItem('cart'))
      let sum = 0
      items.forEach(item => {
        sum += (item.total_price * item.quantity)
      })
      this.sum = sum
      this.mutationCartSum(sum)
      this.getProducts()
    },
    incrementProductQuantity (product) {
      const items = JSON.parse(localStorage.getItem('cart'))
      items.forEach(item => {
        if (item.cartId === product.cartId) {
          item.quantity += 1
        }
      })
      localStorage.setItem('cart', JSON.stringify(items))
      this.getSum()
    },
    decrementProductQuantity (product) {
      const items = JSON.parse(localStorage.getItem('cart'))
      items.forEach(item => {
        if (item.cartId === product.cartId) item.quantity -= 1
      })
      localStorage.setItem('cart', JSON.stringify(items))
      this.getSum()
    }
  },
  mounted () {
    this.getSum()
    this.getProducts()
  },
  watch: {
    '$route' () {
      this.getSum()
      this.getProducts()
    }
  }
}
</script>
