<template>
  <div class="cart-checkout-form bg-white rounded-xl q-pa-lg">
    <p class="text-subtitle1 text-bold q-py-md text-uppercase">Оформление заказа</p>
    <div class="q-mt-md">
      <q-input
        v-model="formData.name"
        label="Ваше имя*"
        type="text"
        rounded outlined dense
        :error="nameError"
        error-message="Пожалуйста, укажите Ваше имя"
      />
      <q-input
        v-model="formData.phone"
        label="Номер телефона*"
        type="tel"
        prefix="+7"
        :maxlength="10"
        rounded outlined dense
        :error="phoneError"
        error-message="Необходимо указать номер телефона"
      />

      <div class="q-gutter-sm">
        <q-radio v-model="delivery" :val="true" label="Доставка"/>
        <q-radio v-model="delivery" :val="false" label="Самовывоз"/>
      </div>
      <q-slide-transition :duration="100">
        <q-input
          v-model="formData.address"
          v-if="delivery"
          label="Адрес доставки"
          type="text"
          prefix="Алматы, "
          :error="addressError"
          error-message="Необходимо указать адрес доставки"
          rounded outlined dense
        />
      </q-slide-transition>
    </div>
    <!--  Самовывоз-->
    <q-list v-if="!delivery" class="q-mt-lg">
      <p class="text-bold">Выберите точку самовывоза:</p>
      <p class="text-primary q-py-sm">Самовывоз возможен до 23:00</p>
      <q-item
        v-for="aStore in aStores"
        :key="aStore.id"
        tag="label"
        v-ripple
        class="rounded-xl"
      >
        <q-item-section avatar>
          <q-radio v-model="formData.store" :val="`${aStore.title}, ${aStore.address}`" color="primary"/>
        </q-item-section>
        <q-item-section>
          <q-item-label class="text-bold">{{ aStore.title }}</q-item-label>
          <q-item-label caption>{{ aStore.address }}</q-item-label>
        </q-item-section>
      </q-item>
    </q-list>

<!--    Способ оплаты-->
    <q-list class="q-mt-lg">
      <p class="text-bold q-pb-sm">Выберите способ оплаты:</p>
      <q-item
        v-for="pay in payments"
        :key="pay"
        tag="label"
        v-ripple
        class="rounded-xl"
      >
        <q-item-section avatar>
          <q-radio v-model="formData.payment_method" :val="pay" color="primary"/>
        </q-item-section>
        <q-item-section>
          <q-item-label class="text-bold">{{ pay }}</q-item-label>
        </q-item-section>
      </q-item>
    </q-list>
    <!--    Итог-->
    <div class="q-mt-md bg-grey-4 rounded-xl q-pa-md">
      <p class="text-bold">Общая сумма заказа: {{ sum|priceKzFilter }}</p>
      <p v-if="delivery" class="text-bold ">Стоимость доставки: {{ mainInfo.delivery_price|priceKzFilter }}</p>
      <p class="text-bold text-uppercase q-mt-xs f-w-900">Итого: {{ totalSum|priceKzFilter }}</p>
    </div>

    <!--    Дополнительные пожелания-->
      <q-input
        v-model="formData.comment"
        type="textarea"
        label="Ваши пожелания к заказу:"
        label-color="primary"
      />
    <q-card class="bg-primary shadow-0 rounded-xl text-center q-mt-lg" dark>
      <q-card-section>
        <p class="text-subtitle1">Внимание!<br>Заказы сделанные после 01:00 ночи будут обработаны утром.</p>
      </q-card-section>
    </q-card>
    <q-btn
      label="Закaзать"
      color="positive"
      class="full-width q-mt-lg q-py-sm letter-1"
      rounded unelevated
      @click="checkTime"
    />

    <q-dialog v-model="timeNotice" persistent>
      <q-card class="bg-primary rounded-xl text-center q-py-md" dark>
        <q-card-section>
          <p class="text-subtitle1"><span class="text-uppercase text-bold block q-pb-sm">Внимание!</span>Заказы сделанные после 01:00 ночи будут обработаны утром.</p>
        </q-card-section>
        <q-card-section>
          <q-btn
            label="Продолжить оформление"
            color="white"
            text-color="primary"
            class="text-bold rounded-xl full-width q-py-sm"
            @click="createOrder"
          />
          <q-btn
            label="Отменить заказ"
            color="white"
            outline
            class="text-bold rounded-xl full-width q-py-sm q-mt-md"
            v-close-popup
          />

        </q-card-section>
      </q-card>
    </q-dialog>
  </div>

</template>

<script>
import { mapMutations, mapState } from 'vuex'
import priceKzFilter from 'src/filters/price-filter'
import axios from 'axios'
import notifier from 'src/utils/notifier'

export default {
  name: 'cart-checkout-form',
  filters: {
    priceKzFilter
  },
  computed: {
    ...mapState('main', ['aStores', 'mainInfo']),
    ...mapState('cart', ['sum', 'items']),
    totalSum () {
      const deliveryPrice = this.delivery ? this.mainInfo.delivery_price : 0
      return deliveryPrice + this.sum
    }
  },
  data () {
    return {
      delivery: true,
      nameError: false,
      additionalWishes: false,
      phoneError: false,
      addressError: false,
      timeNotice: false,
      formData: {
        name: '',
        phone: '',
        address: '',
        comment: '',
        store: '',
        payment_method: 'Оплата онлайн (перевод)'
      },
      payments: [
        'Оплата онлайн (перевод)',
        'Kaspi RED',
        'Оплата наличными'
      ]
    }
  },
  methods: {
    ...mapMutations('cart', ['mutationCartLen']),
    checkTime () {
      const date = new Date()
      if (date.getHours() >= 1 && date.getHours() < 7) {
        this.timeNotice = true
        return null
      } else {
        this.createOrder()
      }
    },
    async createOrder () {
      const data = this.formData
      data.platform = this.$q.platform.is.platform
      data.mobile = this.$q.platform.is.desktop
      if (!data.name) {
        this.nameError = true
        notifier('Необходимо указать Ваше имя')
        return null
      }
      if (!data.phone) {
        this.phoneError = true
        notifier('Необходимо указать номер телефона')
        return null
      }
      if (!data.address && this.delivery) {
        this.addressError = true
        notifier('Необходимо указать адрес доставки')
        return null
      }
      this.createOrderDetailText()
      await axios.post(`${this.$store.getters.getServerURL}/orders/create_order/`, {
        name: data.name,
        phone: data.phone,
        address: this.delivery ? data.address : `САМОВЫВОЗ: ${data.store}`,
        comment: data.comment,
        items: JSON.parse(localStorage.getItem('cart')),
        sum: this.totalSum,
        platform: this.$q.platform.is.platform,
        isMobile: !this.$q.platform.is.desktop,
        payment_method: this.formData.payment_method
      }).then(response => {
        if (response.status === 201) {
          localStorage.setItem('cart', JSON.stringify([]))
          this.mutationCartLen(0)
          this.$router.push({
            name: 'thanks'
          })
        }
      })
    },
    createOrderDetailText () {
      this.items.forEach(item => {

      })
    }
  }
}
</script>
