<template>
<div>
  <q-btn
    icon="las la-shopping-cart"
    flat dense
    class="q-ml-xs rounded-md"
    @click="goToCart"
  >
    <q-badge v-if="cartLen" floating rounded >{{ cartLen }}</q-badge>
  </q-btn>
</div>
</template>

<script>

import { mapState } from 'vuex'
import notifier from 'src/utils/notifier'

export default {
  name: 'cart-header-icon',
  computed: {
    ...mapState('cart', { cartLen: 'len' })
  },
  methods: {
    goToCart () {
      if (this.cartLen) {
        return this.$router.push({ name: 'cart' })
      }
      return notifier('В вашей корзине пока ничего нет.')
    }
  }
}
</script>
