<template>
<div class="products-slider">
  <swiper :options="swiperOptions" class="swiper">
    <swiper-slide
      v-for="product in products"
      :key="product.id"
    >
      <product-card :product="product"/>
    </swiper-slide>
  </swiper>
</div>
</template>

<script>
import { Swiper, SwiperSlide } from 'vue-awesome-swiper'
import 'swiper/swiper-bundle.css'
import ProductCard from 'components/shop/product/product-card'

export default {
  name: 'products-slider',
  props: {
    products: Array
  },
  components: {
    ProductCard,
    Swiper,
    SwiperSlide
  },
  data () {
    return {
      swiperOptions: {
        spaceBetween: 20,
        autoplay: true,
        breakpoints: {
          1600: {
            slidesPerView: 3.5
          },
          1400: {
            slidesPerView: 3.5
          },
          1279: {
            slidesPerView: 3.2
          },
          1000: {
            slidesPerView: 2.7
          },
          750: {
            slidesPerView: 2.5
          },
          330: {
            slidesPerView: 1.4
          },
          300: {
            slidesPerView: 1.2
          }
        }
      }
    }
  }
}
</script>
