<template>
<div class="products-grid">
  <div class="row q-col-gutter-md">
    <div
      v-for="product in products"
      :key="product.id"
      class="col-12 col-md-6"
    >
      <product-card :product="product"/>
    </div>
  </div>
</div>
</template>

<script>
import ProductCard from 'components/shop/product/product-card'
export default {
  name: 'products-grid',
  components: { ProductCard },
  props: {
    products: Array
  }
}
</script>
