<template>
  <article class="fit">
    <q-item
      clickable
      tag="article"
      class="product-card flex justify-start items-center q-pa-md rounded-xl relative-position q-pb-xl"
      @click="showProductDetail($event)"
    >
      <!--  Image-->
      <div class="=">
        <q-img
          :src="product.miniature"
          class="product-image rounded-md"
        >
          <template v-slot:loading>
            <q-skeleton class="product-image"/>
          </template>
        </q-img>
      </div>
      <!--  Meta-->
      <div class="q-ml-md flex-grow-1">
        <div class="product-title ellipsis-2-lines">{{ product.title }}</div>
        <p class="ellipsis-3-lines">{{ product.ingredients.join(', ').toLowerCase() }}</p>
      </div>
      <!--  Actions-->
      <div class="absolute-bottom flex justify-between q-pl-md q-pb-sm q-pr-sm items-center">
        <div class="text-positive text-h5 f-w-900">{{ product.price|priceKzFilter }}</div>
        <div>
          <q-btn
            label="Заказать"
            no-caps unelevated
            color="primary"
            padding="3px"
            class="q-px-md rounded-md q-mr-sm"
          />
          <add-to-wishlist-button :product="product"/>
        </div>
      </div>

    </q-item>
  </article>
</template>

<script>
import priceKzFilter from 'src/filters/price-filter'
import AddToWishlistButton from 'components/wishlist/add-to-wishlist-button'
import { mapActions } from 'vuex'

export default {
  name: 'product-card',
  components: { AddToWishlistButton },
  filters: { priceKzFilter },
  props: {
    product: Object,
    inWishlist: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    ...mapActions('shop', ['loadProduct']),
    showProductDetail (event) {
      if (event.target.localName !== 'i') {
        this.$router.push(`/product/${this.product.slug}`)
      }
    }
  }
}
</script>

<style lang="sass">
.product-card
  background: #ffffff

  .product-image
    width: 90px
    height: 90px
</style>
