<template>
  <q-layout view="lhh Lpr lFf">
    <q-header class="bg-grey-2 text-dark">
      <q-toolbar class="flex justify-between q-pt-sm">
        <div class="flex">
          <q-btn
            flat dense no-caps
            :icon="leftDrawerOpen ? 'lar la-times-circle' : 'las la-ellipsis-v'"
            color="dark"
            aria-label="Menu"
            label="Меню"
            @click="leftDrawerOpen = !leftDrawerOpen"
            class="rounded-md"
          />
          <div class="logo q-ml-lg">
            <router-link to="/">
              <img src="../assets/logo.png" alt="logo" title="Fortune-Pizza" height="50"/>
            </router-link>
          </div>
        </div>
        <q-space/>
        <div class="header-buttons">
          <header-right-panel-buttions/>
        </div>

      </q-toolbar>
      <div v-scroll="scrolled"></div>
      <keep-alive>
        <header-navigation
          class="top-nav transition-1 bg-white"
          :style="scroll < 63 ? 'height: 0' : 'height: auto'"
        />
      </keep-alive>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      bordered
      content-class="bg-grey-1"
    >
      <left-drawer-content />
    </q-drawer>

    <q-page-container>
      <div :style="$route.name === 'product-detail' ?  'margin-top: 50px' : 'margin-top: 80px'">
        <keep-alive>
          <router-view/>
        </keep-alive>
      </div>
    </q-page-container>

    <shop-footer />
    <bottom-toolbar />
  </q-layout>
</template>

<script lang="ts">
import Vue from 'vue'
import HeaderRightPanelButtions from 'components/header/header-right-panel-buttions.vue'
import HeaderNavigation from '../components/header/header-navigation.vue'
import ShopFooter from '../components/footer/shop-footer.vue'
import LeftDrawerContent from '../components/header/left-drawer-content.vue'
import BottomToolbar from '../components/utils/bottom-toolbar.vue'

export default Vue.extend({
  name: 'MainLayout',
  components: { BottomToolbar, LeftDrawerContent, ShopFooter, HeaderNavigation, HeaderRightPanelButtions },
  data () {
    return {
      leftDrawerOpen: false,
      scroll: 1
    }
  },
  computed: {},
  methods: {
    scrolled (position) {
      this.scroll = position
      const target = document.querySelector('.top-nav')
      if (position > 60) {
        target.classList.add('fixed-top', 'justify-center')
      } else {
        target.classList.remove('fixed-top')
      }
    }
  },
  watch: {
    '$route' () {
      this.leftDrawerOpen = false
    }
  }
})
</script>

<style lang="sass">

</style>
