<template>
<div v-if="isMobile">
<div class="bottom-toolbar bg-warning">
  <q-btn
    icon="call"
    color="white"
    rounded unelevated
    size="17px"
    type="a"
    text-color="positive"
    style="width: 50px; height: 50px"
    :href="`tel:${mainInfo.phone}`"
  />
  <quick-order classes="full-width fit q-py-sm q-mx-sm test" style="max-height: 70px; max-width: 70%"/>
  <q-btn
    icon="lab la-whatsapp"
    color="positive"
    round unelevated
    size="17px"
    style="width: 50px; height: 50px"
    type="a"
    :href="`https://wa.me/${mainInfo.whatsapp}?text=Здравствуйте. Я хочу заказать: `"
  />
</div>
</div>
</template>

<script>
import QuickOrder from 'components/utils/quick-order'
import { mapState } from 'vuex'
export default {
  name: 'bottom-toolbar',
  components: { QuickOrder },
  computed: {
    ...mapState('main', ['mainInfo']),
    isMobile () {
      return !this.$q.platform.is.desktop
    }
  }
}
</script>

<style lang="sass">
.bottom-toolbar
  position: fixed
  bottom: 0
  left: 0
  right: 0
  background: #ffffff
  z-index: 1000
  display: flex
  align-items: center
  justify-content: space-between
  padding: 5px 7px 5px

.test
  position: relative
  overflow: hidden
  &:before
    content: ''
    position: absolute
    left: -15%
    top: -20px
    background: #ffffff
    width: 30px
    height: 180%
    opacity: .7
    transform: rotateZ(30deg)
    animation-name: testAnim
    animation-duration: 5s
    animation-delay: 2s
    animation-iteration-count: infinite
    animation-timing-function: ease-in-out
    animation-fill-mode: forwards

@keyframes testAnim
  0%
    left: -15%
  30%
    left: 110%

  100%
    left: 110%
</style>
