<template>
<div class="quick-order">
  <q-btn
    color="positive"
    unelevated no-caps rounded
    icon-right="las la-angle-double-right"
    class="q-px-sm text-bold letter-1"
    :class="classes"
    @click="dialog = true"
    style="line-height: 1.2 !important; max-height: 70px; display: flex; align-items: center"
  >
    <div>Пицца в подарок при заказе.</div>
    <div class="q-ml-sm">ЗАКАЗАТЬ</div>
  </q-btn>

  <q-dialog v-model="dialog" class="rounded-xl">
    <q-card
      style="width: 450px; max-width: 100%"
      class="rounded-xl q-pb-md"
    >
      <q-toolbar class="bg-positive text-white">
        <q-toolbar-title class="text-bold">Пицца в подарок при заказе </q-toolbar-title>
        <q-btn icon="close" flat dense v-close-popup/>
      </q-toolbar>
      <q-card-section class="q-px-lg">
        <p class="q-py-lg text-center text-subtitle1 text-bold">Просто оставьте ваш номер телефона.<br>Мы перезвоним вам и предложим самое вкусное.</p>
        <q-form>
          <q-no-ssr>
            <q-input
              filled
              type="tel"
              v-model="phone"
              label="Номер телефона"
              :maxlength="10"
              prefix="+7 "
            />
          </q-no-ssr>

        </q-form>

      </q-card-section>
      <q-card-section class="q-px-lg">
        <q-btn
          id="getGiftButtonMobile"
          label="Отправить"
          color="primary"
          class="q-py-sm full-width letter-1 getGiftButton"
          rounded unelevated
          icon-right="send"
          :loading="loading"
          :disable="!phone"
          @click="sendQuickOrder"
        />
      </q-card-section>
    </q-card>
  </q-dialog>
</div>
</template>

<script>
export default {
  name: 'quick-order',
  props: {
    classes: String
  },
  data () {
    return {
      dialog: false,
      loading: false,
      phone: null,
      mask: ''
    }
  },
  methods: {
    async sendQuickOrder () {
      this.loading = true
      await this.$axios.post(`${this.$store.getters.getServerURL}/orders/create_quick_order/`, {
        phone: this.phone
      }).then(
        response => {
          if (response.status === 201) {
            this.$q.notify({
              color: 'positive',
              position: 'top',
              message: 'Спасибо! Мы свяжемся с Вами в ближайшее время.'
            })
          } else {
            this.$q.notify({
              color: 'primary',
              position: 'top',
              message: 'Ошибка сервера. Попробуйте еще раз.'
            })
          }
        }
      )
        .finally(() => {
          this.loading = false
          this.dialog = false
        })
    }
  },
  mounted () {
    this.mask = '(###) ### - ####'
  }
}
</script>
