<template>
<div class="section-title">
  <h2 v-if="tag === 2" class="section-title-text">{{ title }}</h2>
  <h3 v-else class="section-title-text">{{ title }}</h3>
</div>
</template>

<script>
export default {
  name: 'section-title',
  props: {
    tag: {
      type: Number,
      default: 2
    },
    title: String
  }
}
</script>

<style lang="sass">
.section-title-text
  font-size: 24px !important
  font-weight: 700 !important
</style>
