<template>
  <div id="q-app">
    <router-view />
  </div>
</template>
<script>
import { mapActions } from 'vuex'

export default {
  name: 'App',
  methods: {
    ...mapActions('cart', { cartInit: 'init' }),
    ...mapActions('wishlist', { wishlistInit: 'init' })
  },
  mounted () {
    this.cartInit()
    this.wishlistInit()
    this.$store.dispatch('main/init')
    this.$store.dispatch('shop/init')
    this.$store.dispatch('blog/init')
  },
  async preFetch ({ store }) {
    return Promise.all([
      store.dispatch('main/loadMainInfo'),
      store.dispatch('shop/loadCategories')
    ])
    // await store.dispatch('main/init')
    // await store.dispatch('shop/init')
    // await store.dispatch('blog/init')
  }
}
</script>
