<template>
  <div
    :class="isDesktop ? '' : 'q-px-sm'"
    class="home-slider"
  >
    <swiper v-if="!isDesktop" :options="swiperOptions" class="swiper">
      <swiper-slide
        v-for="slide in homeSlides"
        :key="slide.id"
      >
        <router-link :to="slide.url || ''">
          <article>
            <q-img
              :src="slide.image"
              class="rounded-xl image-gradient slide-image"
              img-class=""
            >
              <div class="text-white absolute-bottom" style="z-index: 30">
                <h2>
                  <q-icon
                    color="white"
                    name="las la-angle-double-right"
                    style="margin-top: -5px"
                  />
                  {{ slide.title }}
                </h2>
              </div>
              <template v-slot:loading>
                <q-skeleton class="slide-image full-width"/>
              </template>
            </q-img>
          </article>
        </router-link>
      </swiper-slide>
    </swiper>
    <div v-if="isDesktop" class="container">
      <q-carousel
        v-model="slide"
        :autoplay="4000"
        keep-alive
        swipeable
        infinite
        arrows
        class="bg-transparent slide-image"
      >
        <q-carousel-slide
          v-for="(slide, index) in homeSlides"
          :key="index"
          :name="index"
        >
            <article>
              <router-link :to="slide.url || ''">
              <q-img
                :src="slide.image"
                class="rounded-xl image-gradient slide-image"
                img-class=""
              >

                <div class="text-white absolute-bottom q-pa-md" style="z-index: 30">
                  <h2>
                    <q-icon
                      color="white"
                      name="las la-angle-double-right"
                      style="margin-top: -5px"
                    />
                    {{ slide.title }}
                  </h2>
                </div>

                <template v-slot:loading>
                  <q-skeleton class="slide-image full-width"/>
                </template>
              </q-img>
              </router-link>
            </article>
        </q-carousel-slide>
      </q-carousel>
    </div>
  </div>
</template>

<script>
import { Swiper, SwiperSlide } from 'vue-awesome-swiper'
import 'swiper/swiper-bundle.css'
import { mapState } from 'vuex'

export default {
  name: 'home-slider',
  components: {
    Swiper,
    SwiperSlide
  },
  computed: {
    ...mapState('main', ['homeSlides']),
    isDesktop () {
      return this.$q.platform.is.desktop
    }
  },
  data () {
    return {
      slide: 0,
      swiperOptions: {
        spaceBetween: 20,
        autoplay: {
          delay: 2500,
          disableOnInteraction: false
        },
        breakpoints: {
          1600: {
            slidesPerView: 2.5,
            autoplay: {
              delay: 2500,
              disableOnInteraction: false
            }
          },
          1400: {
            slidesPerView: 2.5
          },
          1279: {
            slidesPerView: 2.2
          },
          1000: {
            slidesPerView: 2.7
          },
          750: {
            slidesPerView: 2.5
          },
          330: {
            slidesPerView: 1.4
          },
          300: {
            slidesPerView: 1.2
          }
        }
      }
    }
  }
}
</script>

<style lang="sass">
.home-slider
  .slide-image
    height: 490px

  h2
    font-size: 24px
    font-weight: 900
    line-height: 1.2

@media screen and (max-width: 800px)
  .home-slider
    .slide-image
      height: 200px

@media screen and (max-width: 650px)
  .home-slider
    h2
      font-size: 18px !important

</style>
