<template>
  <q-btn
    :icon="icon"
    color="primary"
    flat dense
    class="rounded-md"
    @click="addProduct(product)"
  />
</template>

<script>
import { mapActions, mapState } from 'vuex'
export default {
  name: 'add-to-wishlist-button',
  props: {
    product: Object
  },
  computed: {
    ...mapState('wishlist', ['items']),
    productInWishlist () {
      return Boolean(this.items.find(item => item.id === this.product.id))
    },
    icon () {
      return this.productInWishlist ? 'las la-star' : 'lar la-star'
    }
  },
  methods: {
    ...mapActions('wishlist', ['addProduct'])
  }
}
</script>
