<template>
<div>
  <q-btn
    icon="lar la-star"
    flat dense
    class="rounded-md"
    @click="goToWishlist()"
  >
    <q-badge v-if="len" floating>{{ len }}</q-badge>
  </q-btn>
</div>
</template>

<script>
import { mapState } from 'vuex'
import notifier from 'src/utils/notifier'

export default {
  name: 'wish-list-header-icon',
  computed: {
    ...mapState('wishlist', ['len'])
  },
  methods: {
    goToWishlist () {
      if (this.len > 0) {
        this.$router.push({
          name: 'wishlist'
        })
      } else {
        notifier('У вас нет избранных товаров.')
      }
    }
  }
}
</script>
