<template>
  <div class="container">
    <div class="row q-col-gutter-md">
      <div
        v-for="label in labels"
        :key="label.id"
        class="col-12 col-md-6"
      >
        <article>
          <router-link :to="`/label/${label.slug}`">
        <div class="label-card q-pa-md bg-positive rounded-xl relative-position">
          <div class="label-card-image">
            <q-avatar :size="$q.platform.is.desktop ? '300px' : '220px'">
              <q-img
                :src="label.image"
                width="300px"
                height="250px"
                class=""
              >
                <template v-slot:loading>
                  <q-skeleton class="fit"/>
                </template>
              </q-img>
            </q-avatar>
          </div>
          <div class="text-white q-ml-md">
            <p class="text-h6 text-bold">{{ label.title }}</p>
            <q-btn
              label="Подробнее"
              icon-right="las la-angle-double-right"
              class="absolute-bottom-right"
              flat dense no-caps
            />
          </div>
        </div>
          </router-link>
        </article>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'labels-grid',
  computed: {
    ...mapState('shop', ['labels'])
  }
}
</script>

<style lang="sass">
.label-card
  max-height: 170px
  overflow: hidden
  display: flex
  align-items: center

.label-card-image
  margin-left: -50px

</style>
