<template>
  <q-item
    clickable
    :dark="selected"
    :class="selected ? 'bg-positive' : ''"
    class="flex column text-center q-card--bordered rounded-md relative-position transition-1"
    @click="selectAddition(addition)"
  >
    <q-icon v-if="selected" name="close" class="absolute-top-right q-pa-sm"/>
    <div>
      <q-img
        :src="addition.image"
        height="70px"
        width="70px"
        contain
        class="text-center"
      >
        <template v-slot:loading>
          <q-skeleton class="fit"/>
        </template>
      </q-img>
    </div>
    <div style="height: 30px" class="flex flex-center">
      {{ addition.title }}
    </div>
    <p
      class="absolute-top-left q-pa-sm text-bold"
      :class="selected ? 'text-white' : 'text-positive'"
    >
      {{ addition.price|priceKzFilter }}
    </p>
  </q-item>
</template>

<script>
import { mapMutations, mapState } from 'vuex'
import priceKzFilter from 'src/filters/price-filter'

export default {
  name: 'product-addition-card',
  props: {
    addition: Object
  },
  filters: {
    priceKzFilter
  },
  computed: {
    ...mapState('shop', ['product'])
  },
  data () {
    return {
      selected: false
    }
  },
  methods: {
    ...mapMutations('shop', ['mutationProductAdditions']),
    getSelectedAddition () {
      this.selected = !!this.product.selectedAdditions?.find(item => item.id === this.addition.id)
    },
    selectAddition () {
      this.mutationProductAdditions({ addition: this.addition, vm: this })
      setTimeout(() => {
        this.getSelectedAddition()
      }, 200)
    }
  },
  watch: {
    '$route' () {
      this.getSelectedAddition()
    }
  }
}
</script>
