<template>
  <div>
    <p class="text-subtitle1 text-bold">Можно добавить:</p>
    <div class="row q-col-gutter-sm q-mt-xs">
      <div
        v-for="addition in product.additions"
        :key="addition.id"
        class="col-6 col-sm-3 col-md-2"
      >
        <product-addition-card :addition="addition"/>
      </div>
    </div>
  </div>
</template>

<script>
import ProductAdditionCard from 'components/shop/product/product-detail/product-additions/product-addition-card'
export default {
  name: 'product-detail-additions',
  components: { ProductAdditionCard },
  props: {
    product: Object
  }
}
</script>
