<template>
  <div class="category-card bg-white rounded-xl">
    <div class="row q-mt-md q-pa-md items-center">
      <div class="col-4">
        <q-img :src="category.image" class="category-card-image rounded-md" cover>
          <template v-slot:loading>
            <q-skeleton class="category-card-image"/>
          </template>
        </q-img>
      </div>
      <div class="col-8">
        <div class="category-card-title">
          {{ category.title }}
        </div>
        <p class="ellipsis-3-lines">{{ category.tag_description }}</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'category-card',
  props: {
    category: Object
  }
}
</script>

<style lang="sass">
.category-card-image
  height: 90px
  width: 90px

.category-card-title
  font-size: 18px
  font-weight: 700
</style>
