<template>
  <div class="categories-slider">
    <div :class="`row q-col-gutter-${gutter}`">
      <div
        v-for="category in categories"
        :key="category.id"
        :class="`col-${sm} col-md-${lg}`"
      >
        <router-link :to="`/${category.slug}`">
          <article>
            <q-card v-if="category" class="rounded-xl q-pa-md text-center text-subtitle1 text-bold bg-grey-4 shadow-0" dark>
              <q-img
                :src="category.image"
                class="full-width"
                :ratio="4/3"
                contain
              />
              <p class="q-mt-md text-uppercase text-small text-grey-9 f-w-900" style="height: 20px">{{ category.title }}</p>
            </q-card>
          </article>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'categories-grid',
  props: {
    categories: Array,
    lg: {
      type: Number,
      default: 3
    },
    sm: {
      type: Number,
      default: 6
    },
    gutter: {
      type: String,
      default: 'md'
    }
  }
}
</script>
