<template>
  <div class="categories-list-column">
    <article
      v-for="category in categories"
      :key="category.id"
    >
      <category-card :category="category"/>
    </article>
  </div>
</template>

<script>

import CategoryCard from 'components/shop/category/category-card'
export default {
  name: 'categories-list-column',
  components: { CategoryCard },
  props: {
    categories: Array
  }
}
</script>
