<template>
  <q-page>
    <section style="margin-top: 75px">
      <div class="container">
        <h1 class="text-h1 text-grey-2" style="height: 50px; max-height: 50px; min-height: 50px">{{ mainInfo.home_page_h1_tag }}</h1>
      </div>
      <home-slider class="q-pt-md" style="margin-top: -50px"/>
    </section>

    <section class="q-mt-md">
      <labels-grid />
    </section>

    <section class="q-pt-md container">
      <section-title :tag="3" title="Рекомендуем"/>
      <products-grid :products="hotProducts" class="q-mt-md"/>
    </section>

    <section class="q-pt-xl container">
      <categories-slider :categories="categories"/>
    </section>

    <section class="q-pt-lg container">
      <section-title title="Наш блог"/>
      <posts-grid :posts="homePosts" class="q-mt-md"/>
      <div class="text-center">
        <q-btn
          class="q-mt-lg f-w-900 q-py-sm q-px-md rounded-xl"
          label="Перейти в блог"
          color="primary"
          :to="{name: 'blog'}"
        />
      </div>
    </section>
  </q-page>
</template>

<script lang="ts">
import Vue from 'vue'
import HomeSlider from '../components/sliders/home-slider.vue'
import { mapState } from 'vuex'
import SectionTitle from '../components/utils/section-title.vue'
import ProductsGrid from '../components/shop/product/products-grid.vue'
import CategoriesSlider from '../components/shop/category/categories-grid.vue'
import LabelsGrid from '../components/shop/labels/labels-grid.vue'
import PostsGrid from '../components/posts/posts-grid.vue'

export default Vue.extend({
  name: 'PageIndex',
  components: { PostsGrid, LabelsGrid, CategoriesSlider, ProductsGrid, SectionTitle, HomeSlider },
  computed: {
    ...mapState('shop', ['categories', 'hotProducts']),
    ...mapState('main', ['mainInfo']),
    ...mapState('blog', ['homePosts'])
  },
  data () {
    return {
      schema: {
        '@context': 'https://schema.org',
        '@type': 'Organization',
        url: 'https://fortunepizza.kz',
        logo: 'https://fortunepizza.kz/img/logo.png'
      }
    }
  },
  meta () {
    return {
      title: this.mainInfo.site_title,
      meta: {
        description: {
          name: 'description',
          content: this.mainInfo.description
        },
        ogType: {
          property: 'og:type',
          content: 'website'
        },
        ogTitle: {
          property: 'og:title',
          content: this.mainInfo.site_title
        },
        ogUrl: {
          property: 'og:url',
          content: 'https://fortunepizza.kz'
        },
        ogDescription: {
          property: 'og:description',
          content: this.mainInfo.description
        },
        ogImage: {
          property: 'og:image',
          content: this.mainInfo.logo
        }
      }
    }
  }
})
</script>
