<template>
<div class="section q-pt-xl">
  <div class="container bg-white q-pa-md rounded-xl">
    <section-title :title="page.title"/>
    <div class="q-pt-lg">
      <div v-html="page.text">

      </div>
    </div>
  </div>
</div>
</template>

<script>
import SectionTitle from 'components/utils/section-title'
import { mapState } from 'vuex'
export default {
  name: 'page-info',
  components: { SectionTitle },
  computed: {
    ...mapState('main', { page: 'infoPage', mainInfo: 'mainInfo' })
  },
  preFetch ({ store, currentRoute }) {
    return store.dispatch('main/loadInfoPage', currentRoute.params.slug)
  },
  meta () {
    return {
      title: this.page.title + ' | ' + this.mainInfo.site_title,
      meta: {
        description: {
          name: 'description',
          content: this.mainInfo.description
        },
        ogType: {
          property: 'og:type',
          content: 'website'
        },
        ogTitle: {
          property: 'og:title',
          content: this.page.title + ' | ' + this.mainInfo.site_title
        },
        ogUrl: {
          property: 'og:url',
          content: 'https://fortunepizza.kz/info/' + this.page.slug
        },
        ogDescription: {
          property: 'og:description',
          content: this.mainInfo.description
        },
        ogImage: {
          property: 'og:image',
          content: this.mainInfo.logo
        }
      }
    }
  }
}
</script>

<style scoped>

</style>
