<template>
<q-page>
  <section class="container q-py-lg">
    <article>
      <q-img
        :src="label.image"
        class="rounded-xl image-gradient slide-image"
        height="40vh"
      >
        <div class="text-white absolute-bottom" style="z-index: 30">
          <h1 class="text-h5">
            {{ label.title }}
          </h1>
          <p>{{ label.tag_description }}</p>
        </div>
        <template v-slot:loading>
          <q-skeleton class="slide-image full-width"/>
        </template>
      </q-img>
    </article>

  </section>
  <section class="">
    <div class="container">
      <products-grid :products="label.products"/>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <categories-grid :categories="categories" />
    </div>
  </section>
</q-page>
</template>

<script>
import ProductsGrid from 'components/shop/product/products-grid'
import { mapState } from 'vuex'
import CategoriesGrid from 'components/shop/category/categories-grid'

export default {
  name: 'page-label',
  components: { CategoriesGrid, ProductsGrid },
  computed: {
    ...mapState('shop', ['label', 'categories']),
    ...mapState('main', ['mainInfo'])
  },
  preFetch ({ store, currentRoute }) {
    return store.dispatch('shop/loadLabel', currentRoute.params.slug)
  },
  meta () {
    return {
      title: this.label.tag_title + ' | ' + this.mainInfo.site_title,
      meta: {
        description: {
          name: 'description',
          content: this.label.tag_description
        },
        ogType: {
          property: 'og:type',
          content: 'website'
        },
        ogTitle: {
          property: 'og:title',
          content: this.label.tag_title + ' | ' + this.mainInfo.site_title
        },
        ogUrl: {
          property: 'og:url',
          content: 'https://fortunepizza.kz/label/' + this.label.slug
        },
        ogDescription: {
          property: 'og:description',
          content: this.label.tag_description
        },
        ogImage: {
          property: 'og:image',
          content: this.label.image
        }
      }
    }
  }
}
</script>

<style scoped>

</style>
