<template>
<q-page>
  <div class="container">
    <section-title class="q-pt-lg" title="Избранное"/>
    <div v-if="len" class="row q-col-gutter-md q-mt-md">
      <div
        v-for="item in items"
        :key="item.id"
        class="col-md-6 col-12"
      >
        <product-card :product="item" in-wishlist/>
      </div>
    </div>
    <q-card
      v-if="!len"
      class="rounded-xl q-mt-lg shadow-0 bg-primary full-width q-py-xl flex flex-center column text-subtitle1"
      dark
    >
      <p>У вас нет избранных товаров.</p>
      <q-btn
        label="Вернуться в магазин"
        to="/"
        outline
        class="rounded-md q-mt-md letter-1 f-w-900"
      />
    </q-card>
  </div>
</q-page>
</template>

<script>
import SectionTitle from 'components/utils/section-title'
import { mapState } from 'vuex'
import ProductCard from 'components/shop/product/product-card'
export default {
  name: 'page-wishlist',
  components: { ProductCard, SectionTitle },
  computed: {
    ...mapState('wishlist', ['len', 'items']),
    ...mapState('main', ['mainInfo'])
  },
  meta () {
    return {
      title: `Избранное | ${this.mainInfo.site_title}`,
      meta: {
        description: {
          name: 'description',
          content: this.mainInfo.description
        },
        ogType: {
          property: 'og:type',
          content: 'website'
        },
        ogTitle: {
          property: 'og:title',
          content: this.mainInfo.site_title
        },
        ogUrl: {
          property: 'og:url',
          content: 'https://fortunepizza.kz/#/shop/wishlist'
        },
        ogDescription: {
          property: 'og:description',
          content: this.mainInfo.description
        },
        ogImage: {
          property: 'og:image',
          content: this.mainInfo.logo
        }
      }
    }
  }
}
</script>

<style scoped>

</style>
