<template>
  <q-card
    style="position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 100000"
    class="bg-positive fit flex flex-center column text-center"
    dark
  >
    <h1 class="text-h3 f-w-900 text-uppercase">Спасибо!</h1>
    <p class="q-mt-md text-subtitle1 text-bold">Ваша заявка принята. <br>Мы свяжемся с вами в ближайшее время.</p>

    <q-btn
      label="Вернуться на главную"
      to="/"
      class="q-mt-lg q-pa-sm letter-1 f-w-700"
      unelevated rounded outline
    />

    <div
      class="rounded-xl bg-white q-pa-md q-mt-lg"
      style="border-radius: 10px"
    >
      <p class="text-primary text-subtitle1 text-bold">
        Заказы, сделанные после 01:00 ночи <br>будут обработаны на следуший день (утром)
      </p>
    </div >
  </q-card>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'page-thanks',
  data () {
    return {
      dialog: false
    }
  },
  computed: {
    ...mapState('main', ['mainInfo'])
  },
  mounted () {
    this.dialog = true
  },
  meta () {
    return {
      title: `Спасибо! | ${this.mainInfo.site_title}`,
      meta: {
        description: {
          name: 'description',
          content: this.mainInfo.description
        },
        ogType: {
          property: 'og:type',
          content: 'website'
        },
        ogTitle: {
          property: 'og:title',
          content: this.mainInfo.site_title
        },
        ogUrl: {
          property: 'og:url',
          content: 'https://fortunepizza.kz0/#/shop/thanks/'
        },
        ogDescription: {
          property: 'og:description',
          content: this.mainInfo.description
        },
        ogImage: {
          property: 'og:image',
          content: this.mainInfo.logo
        }
      }
    }
  }
}
</script>

<style scoped>

</style>
