<template>
<q-page>
  <section v-if="category" class="container q-py-lg">
    <div class="flex">
      <div>
          <q-img
            :src="category.image"
            width="60px"
            height="60px"
            contain
          >
            <template v-slot:loading><q-skeleton class="fit"/></template>
          </q-img>
      </div>
      <div class="q-ml-md">
        <h1 class="q-mt-sm text-subtitle1">{{ category.page_h1_tag }}</h1>
        <section-title :title="category.title"/>
      </div>
    </div>
  </section>

  <section class="">
    <div class="container">
      <products-grid :products="category.products"/>
    </div>
  </section>

  <section class="section">
    <labels-grid />
  </section>
</q-page>
</template>

<script>
import { mapState } from 'vuex'
import SectionTitle from 'components/utils/section-title'
import ProductsGrid from 'components/shop/product/products-grid'
import LabelsGrid from 'components/shop/labels/labels-grid'

export default {
  name: 'page-shop',
  components: { LabelsGrid, ProductsGrid, SectionTitle },
  computed: {
    ...mapState('shop', ['category', 'products']),
    ...mapState('main', ['mainInfo'])
  },
  preFetch ({ store, currentRoute }) {
    return store.dispatch('shop/loadCategory', currentRoute.params.slug)
  },
  meta () {
    return {
      title: this.category.tag_title,
      meta: {
        description: {
          name: 'description',
          content: this.category.tag_description
        },
        ogType: {
          property: 'og:type',
          content: 'website'
        },
        ogTitle: {
          property: 'og:title',
          content: this.category.tag_title
        },
        ogUrl: {
          property: 'og:url',
          content: 'https://fortunepizza.kz/' + this.category?.slug
        },
        ogDescription: {
          property: 'og:description',
          content: this.category.tag_description
        },
        ogImage: {
          property: 'og:image',
          content: this.category?.image
        }
      }
    }
  }
}
</script>

<style scoped>

</style>
