<template>
<q-page>
  <section class="section contacts">
    <div class="container q-pt-lg">
      <section-title title="Наши контакты" />
      <div class="row q-col-gutter-md q-mt-lg">
        <div
          v-for="store in aStores"
          :key="store.id"
          class="col-12 col-md-6"
        >
          <q-card class="bg-white shadow-0 rounded-xl q-pa-md">
            <p class="text-h6 text-bold">{{ store.title }}</p>
            <p class="q-mt-sm">{{ store.address }}</p>
            <q-btn
              :label="store.phone"
              icon="las la-phone"
              class="q-mt-md rounded-md"
              color="positive"
              unelevated
            />
            <div class="q-mt-md" v-html="store.description"></div>
            <div class="" v-html="store.map_frame" style="max-width: 100%; width: 100%"></div>
          </q-card>
        </div>

      </div>
    </div>
  </section>
</q-page>
</template>

<script>
import SectionTitle from 'components/utils/section-title'
import { mapState } from 'vuex'
export default {
  name: 'page-contacts',
  components: { SectionTitle },
  computed: {
    ...mapState('main', ['aStores', 'mainInfo'])
  },
  meta () {
    return {
      title: 'Контакты | ' + this.mainInfo.site_title,
      meta: {
        description: {
          name: 'description',
          content: this.mainInfo.description
        },
        ogType: {
          property: 'og:type',
          content: 'website'
        },
        ogTitle: {
          property: 'og:title',
          content: 'Контакты | ' + this.mainInfo.site_title
        },
        ogUrl: {
          property: 'og:url',
          content: 'https://fortunepizza.kz/shop/contacts/'
        },
        ogDescription: {
          property: 'og:description',
          content: this.mainInfo.description
        },
        ogImage: {
          property: 'og:image',
          content: this.mainInfo.logo
        }
      }
    }
  }
}
</script>

<style lang="sass">
.contacts
  iframe
    width: 100% !important
    max-width: 100% !important
    border-radius: 10px
</style>
