<template>
  <q-page>
    <section class="section">
      <div class="container q-pt-lg">
        <section-title :title="about.title"/>
        <p class="text-subtitle1 text-bold q-mt-md">{{ about.description }}</p>
        <div class="q-mt-lg">
          <div v-html="about.text"></div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container q-pt-lg">
        <q-carousel
          v-model="slide"
          swipeable
          animated
          :autoplay="4000"
          infinite
          arrows
          :fullscreen.sync="fullscreen"
          class="about-image rounded-xl bg-transparent"
        >
          <q-carousel-slide
            v-for="(image, index) in photoGallery"
            :key="index"
            :img-src="image.image"
            :name="index"
          />
          <template v-slot:control>
            <q-carousel-control
              position="bottom-right"
              :offset="[18, 18]"
            >
              <q-btn
                round dense color="white" text-color="primary"
                :icon="fullscreen ? 'fullscreen_exit' : 'fullscreen'"
                @click="fullscreen = !fullscreen"
              />
            </q-carousel-control>
          </template>
        </q-carousel>
      </div>
    </section>
    <labels-grid class="q-pt-xl"/>
  </q-page>
</template>

<script>
import { mapState } from 'vuex'
import SectionTitle from 'components/utils/section-title'
import LabelsGrid from 'components/shop/labels/labels-grid'

export default {
  name: 'page-about',
  components: {
    LabelsGrid,
    SectionTitle
  },
  computed: {
    ...mapState('main', ['about', 'photoGallery', 'mainInfo'])
  },
  data () {
    return {
      slide: 0,
      fullscreen: false
    }
  },
  async preFetch ({ store }) {
    return Promise.all([
      store.dispatch('main/loadAboutInfo'),
      store.dispatch('main/loadPhotoGallery')
    ])
  },
  meta () {
    return {
      title: 'О нас | ' + this.mainInfo.site_title,
      meta: {
        description: {
          name: 'description',
          content: this.about.description
        },
        ogType: {
          property: 'og:type',
          content: 'website'
        },
        ogTitle: {
          property: 'og:title',
          content: this.about.title + ' | ' + this.mainInfo.site_title
        },
        ogUrl: {
          property: 'og:url',
          content: 'https://fortunepizza.kz/shop/about/'
        },
        ogDescription: {
          property: 'og:description',
          content: this.about.description
        },
        ogImage: {
          property: 'og:image',
          content: this.mainInfo.logo
        }
      }
    }
  }
}
</script>

<style lang="sass">
.about-image
  height: 600px

@media screen and (max-width: 650px)
  .about-image
    height: 300px
</style>
