<template>
  <q-page>
    <div class="container">
      <section-title class="q-pt-lg" title="Корзина"/>
      <div v-if="len" class="row q-col-gutter-md">
        <div class="col-md-6 col-12">
          <cart-products-list class="q-mt-md"/>
        </div>
        <div class="col-md-6 col-12">
          <cart-checkout-form class="q-mt-md"/>
        </div>
      </div>
      <q-card
        v-if="!len"
        class="rounded-xl q-mt-lg shadow-0 bg-primary full-width q-py-xl flex flex-center column text-subtitle1"
        dark
      >
        <p>В вашей корзине нет товаров.</p>
        <q-btn
          label="Вернуться в магазин"
          to="/"
          outline
          class="rounded-md q-mt-md letter-1 f-w-900"
        />
      </q-card>
    </div>
  </q-page>
</template>

<script>
import SectionTitle from 'components/utils/section-title'
import { mapState } from 'vuex'
import CartProductsList from 'components/cart/cart-products-list'
import CartCheckoutForm from 'components/cart/cart-checkout-form'

export default {
  name: 'page-cart',
  components: {
    CartCheckoutForm,
    CartProductsList,
    SectionTitle
  },
  computed: {
    ...mapState('cart', ['len', 'sum']),
    ...mapState('main', ['mainInfo'])
  },
  meta () {
    return {
      title: `Корзина | ${this.mainInfo.site_title}`,
      meta: {
        description: {
          name: 'description',
          content: this.mainInfo.description
        },
        ogType: {
          property: 'og:type',
          content: 'website'
        },
        ogTitle: {
          property: 'og:title',
          content: this.mainInfo.site_title
        },
        ogUrl: {
          property: 'og:url',
          content: 'https://fortunepizza.kz/shop/cart'
        },
        ogDescription: {
          property: 'og:description',
          content: this.mainInfo.description
        },
        ogImage: {
          property: 'og:image',
          content: this.mainInfo.logo
        }
      }
    }
  }
}
</script>

<style scoped>

</style>
