<template>
  <q-page class="q-pt-xl">
    <product-detail />
  </q-page>
</template>

<script>
import ProductDetail from 'components/shop/product/product-detail/product-detail'
import { mapState } from 'vuex'
export default {
  name: 'page-product-detail',
  computed: {
    ...mapState('shop', ['product']),
    ...mapState('main', ['mainInfo'])
  },
  components: { ProductDetail },
  preFetch ({ store, currentRoute }) {
    return store.dispatch('shop/loadProduct', currentRoute.params.slug)
  },
  meta () {
    return {
      title: this.product.title_tag || this.product.title + ' | ' + this.mainInfo.site_title,
      meta: {
        description: {
          name: 'description',
          content: this.product.description_tag || this.product.description
        },
        ogType: {
          property: 'og:type',
          content: 'website'
        },
        ogTitle: {
          property: 'og:title',
          content: this.product.title_tag || this.product.title + ' | ' + this.mainInfo.site_title
        },
        ogUrl: {
          property: 'og:url',
          content: 'https://fortunepizza.kz/product/' + this.product.slug
        },
        ogDescription: {
          property: 'og:description',
          content: this.product.description_tag || this.product.description
        },
        ogImage: {
          property: 'og:image',
          content: this.product.miniature
        }
      }
    }
  }
}
</script>

<style scoped>

</style>
